security:
  jwt:
    secret: minha-chave-secreta-muito-grande-para-jwt-clinic
    expiration: 3600000  # 1 hora em ms

spring:
  datasource:
    url: jdbc:h2:file:./data/clinicdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.hibernate.SQL: info
